Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

Add new cypress tests for manga and service admin pages
  web/cypress/cypress.config.ts
  web/cypress/e2e/admin/manga.cy.ts
  web/cypress/e2e/admin/services.cy.ts
  web/cypress/e2e/auth/login-features.cy.ts
  web/cypress/e2e/smoke.cy.ts
  web/cypress/package.json
  web/cypress/pnpm-lock.yaml
  web/cypress/selectors.ts
  web/cypress/support/commands.ts
  web/server/api/notifications.ts
Due: frontend

Update pipeline actions
  .github/workflows/dokku.yml
  .github/workflows/tests.yml
Due: none

Improve test coverage a bit by testing database errors more and adding tests for thumbnail processing
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/api-test-utilities.ts
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/thumbnails.test.ts
  web/__tests__/api/user.test.ts
  web/package.json
  web/pnpm-lock.yaml
  web/server/api/chapter.ts
  web/server/api/thumbnails.ts
  web/server/api/user.ts
  web/server/db/admin/manga.ts
  web/server/db/follows.ts
Due: frontend

Update to vitest 8
  web/__tests__/initServer.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/ReleaseHeatmap.tsx
  web/vite.config.ts
  web/vitest.config.ts
Due: frontend

Add longer wait after cypress login command to ensure all requests finish before interaction
  web/cypress/support/commands.ts
Due: frontend

Update tanstack libraries to mitigate vulnerabilities
  web/package.json
  web/pnpm-lock.yaml
  web/vite.config.ts
Due: frontend

Update to using rolldown for builds
  web/package.json
  web/pnpm-lock.yaml
  web/scripts/rolldown.server.ts
  web/server.ts
Due: frontend

Test improvements
  web/__tests__/utils/environments.test.ts
  web/cypress/e2e/auth/login-features.cy.ts
  web/server.ts
Due: frontend

Add a slightly longer wait to login, fix zod tree shaking and update some packages
  web/__tests__/utils/validators.test.ts
  web/cypress/support/commands.ts
  web/eslint.config.mjs
  web/package.json
  web/pnpm-lock.yaml
  web/server/api/admin/manga.ts
  web/server/api/admin/services.ts
  web/server/api/auth/discord.ts
  web/server/api/auth/index.ts
  web/server/api/chapter.ts
  web/server/api/manga.ts
  web/server/api/notifications.ts
  web/server/api/search.ts
  web/server/api/settings.ts
  web/server/api/thumbnails.ts
  web/server/api/user.ts
  web/server/utils/environment.ts
  web/server/utils/validators.ts
  web/setupTests.ts
  web/src/components/ReleaseHeatmap.tsx
  web/src/serverFunctions/common.ts
  web/src/views/Profile.tsx
  web/types/dbTypes.ts
Due: frontend

Migrate services admin API to use zod validation
  web/__mocks__/@tanstack/react-router.tsx
  web/__tests__/api/admin/__snapshots__/manga.test.ts.snap
  web/__tests__/api/admin/__snapshots__/services.test.ts.snap
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/admin/services.test.ts
  web/__tests__/api/auth.test.ts
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/search.test.ts
  web/__tests__/api/settings.test.ts
  web/__tests__/api/user.test.ts
  web/__tests__/db/mangadex.test.ts
  web/__tests__/utils.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/server/api/admin/manga.ts
  web/server/api/admin/services.ts
  web/server/api/chapter.ts
  web/server/api/manga.ts
  web/server/api/notifications.ts
  web/server/api/settings.ts
  web/server/api/user.ts
  web/server/db/mangadex.ts
  web/server/db/services/index.ts
  web/server/db/utils.ts
  web/server/utils/validators.ts
Due: frontend

Migrate notifications, settings and user APIs to use zod validation
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/settings.test.ts
  web/__tests__/api/user.test.ts
  web/__tests__/utils.tsx
  web/server/api/notifications.ts
  web/server/api/settings.ts
  web/server/api/thumbnails.ts
  web/server/api/user.ts
  web/server/utils/validators.ts
  web/types/dbTypes.ts
Due: frontend

Migrate chapter, manga and search APIs to use zod validation
  web/__tests__/api/__snapshots__/manga.test.ts.snap
  web/__tests__/api/auth.test.ts
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/search.test.ts
  web/__tests__/utils.tsx
  web/__tests__/utils/validators.test.ts
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/server/api/chapter.ts
  web/server/api/manga.ts
  web/server/api/search.ts
  web/server/db/chapter.ts
  web/server/utils/validators.ts
  web/swagger/components.yaml
  web/types/global.d.ts
  web/types/request.ts
Due: frontend

Migrate manga admin API to use zod validation
  web/__tests__/api/admin/__snapshots__/manga.test.ts.snap
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/search.test.ts
  web/__tests__/api/user.test.ts
  web/__tests__/utils.tsx
  web/__tests__/utils/formatting.test.ts
  web/__tests__/views/Profile.test.tsx
  web/server/api/admin/manga.ts
Due: frontend

Fix mangaplus scraping
  src/constants.py
  src/scrapers/mangaplus/mangaplus.py
Due: scraper

Add option to use proxies with MANGA Plus scraping, as they have blocked some VPS IPs
  .gitignore
  src/scrapers/mangaplus/mangaplus.py
  src/tests/utils/test_proxy_manager.py
  src/utils/proxy_manager.py
Due: scraper

Simplify proxy setup
  src/scrapers/mangaplus/mangaplus.py
  src/tests/utils/test_proxy_manager.py
  src/utils/proxy_manager.py
Due: scraper

Migrate to TanStack Table V9
  web/__tests__/components/MaterialTable/EditableSelect.test.tsx
  web/__tests__/components/MaterialTable/MaterialTable.test.tsx
  web/__tests__/components/MaterialTable/TablePaginationActions.test.tsx
  web/__tests__/components/MaterialTable/utilities.test.tsx
  web/__tests__/utils.tsx
  web/__tests__/views/admin/MangaAdmin.test.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/src/api/admin/manga.ts
  web/src/api/chapter.ts
  web/src/components/ChapterList.tsx
  web/src/components/MaterialTable/EditableCheckbox.tsx
  web/src/components/MaterialTable/EditableDateTimePicker.tsx
  web/src/components/MaterialTable/EditableSelect.tsx
  web/src/components/MaterialTable/MaterialTable.tsx
  web/src/components/MaterialTable/MaterialTableRow.tsx
  web/src/components/MaterialTable/constants.ts
  web/src/components/MaterialTable/custom-types.d.ts
  web/src/components/MaterialTable/index.ts
  web/src/components/MaterialTable/plugins/index.ts
  web/src/components/MaterialTable/plugins/rowDeletingPlugin.tsx
  web/src/components/MaterialTable/plugins/rowEditingPlugin.tsx
  web/src/components/MaterialTable/plugins/types.ts
  web/src/components/MaterialTable/types.ts
  web/src/components/MaterialTable/useEditable.tsx
  web/src/components/MaterialTable/utilities.tsx
  web/src/components/inputs/FormGroupSearch.tsx
  web/src/components/manga/MangaServiceTable.tsx
  web/src/router.tsx
  web/src/routes/manga/$mangaId.tsx
  web/src/utils/utilities.tsx
  web/src/views/admin/ChaptersFailed.tsx
  web/src/views/admin/MangaAdmin.tsx
  web/src/views/admin/Services.tsx
  web/vite.config.ts
Due: frontend

Refactor data fetching to react-query
  web/__tests__/components/MangaSearch.test.tsx
  web/__tests__/utils.tsx
  web/__tests__/views/App.test.tsx
  web/__tests__/views/admin/MangaAdmin.test.tsx
  web/__tests__/views/admin/Services.test.tsx
  web/src/api/admin/manga.ts
  web/src/api/admin/service.ts
  web/src/api/chapter.ts
  web/src/api/follows.ts
  web/src/api/manga.ts
  web/src/api/notifications.ts
  web/src/api/user.ts
  web/src/components/ChapterList.tsx
  web/src/components/Manga.tsx
  web/src/components/MangaAliases.tsx
  web/src/components/MangaSearch.tsx
  web/src/components/inputs/FormMangaSearch.tsx
  web/src/components/inputs/useAutocompleteWithSearch.tsx
  web/src/components/manga/MangaServiceTable.tsx
  web/src/components/notifications/DeleteNotificationButton.tsx
  web/src/components/notifications/MangaOverrideSelector.tsx
  web/src/components/notifications/MangaSelector.tsx
  web/src/router.tsx
  web/src/utils/constants.ts
  web/src/utils/utilities.tsx
  web/src/views/App.tsx
  web/src/views/MergeManga.tsx
  web/src/views/Notifications.tsx
  web/src/views/admin/MangaAdmin.tsx
  web/src/views/admin/Services.tsx
  web/types/tanstack-start.ts
Due: frontend

Refine the frontpage of the app by making recent releases a bit more usable
  .claude/CLAUDE.md
  src/utils/utilities.py
  web/__tests__/components/GroupedChapterList.test.tsx
  web/__tests__/components/MangaSearch.test.tsx
  web/__tests__/views/admin/Services.test.tsx
  web/common/utilities.ts
  web/cypress/constants.ts
  web/cypress/e2e/auth/auth.cy.ts
  web/cypress/e2e/frontpage.cy.ts
  web/cypress/e2e/smoke.cy.ts
  web/cypress/selectors.ts
  web/cypress/support/commands.ts
  web/cypress/utilities.ts
  web/src/api/chapter.ts
  web/src/api/types.ts
  web/src/components/GroupedChapterList.tsx
  web/src/components/MangaCover.tsx
  web/src/components/chapter/GroupedChapterList/ChapterGroupBase.tsx
  web/src/components/chapter/GroupedChapterList/ChapterGroupLoading.tsx
  web/src/components/chapter/GroupedChapterList/ChapterGroupWithCover.tsx
  web/src/components/chapter/GroupedChapterList/ChapterWithLink.tsx
  web/src/components/chapter/GroupedChapterList/GroupChapters.tsx
  web/src/components/chapter/GroupedChapterList/GroupedChapterList.tsx
  web/src/components/chapter/GroupedChapterList/constants.ts
  web/src/components/chapter/GroupedChapterList/index.ts
  web/src/components/chapter/GroupedChapterList/types.ts
  web/src/components/chapter/GroupedChapterList/useGroupedChapters.ts
  web/src/utils/constants.ts
  web/src/views/App.tsx
  web/types/utility.ts
Due: scraper, frontend

Update to node 26 and pnpm 12. Update to eslint 10 and vitest 5
  .github/workflows/tests.yml
  .node-version
  Dockerfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/__tests__/pages/terms.test.tsx
  web/cypress/package.json
  web/eslint.config.mjs
  web/package.json
  web/patches/@testing-library__jest-dom.patch
  web/patches/jest-extended.patch
  web/patches/jest-openapi@0.14.2.patch
  web/pnpm-lock.yaml
  web/pnpm-workspace.yaml
  web/server.ts
  web/server/db/session.ts
  web/server/tanstackIntegration.ts
  web/server/utils/logging.ts
  web/setupTests.ts
  web/src/routes/__root.tsx
  web/src/views/Profile.tsx
  web/types/global.d.ts
  web/types/global.test.d.ts
  web/vitest.config.ts
Due: frontend

Update rest of the packages that can be updated
  web/package.json
  web/pnpm-lock.yaml
  web/server/db/auth.ts
  web/server/utils/utilities.ts
  web/types/db/auth.ts
Due: frontend

Path conditions:
  scraper: any of: src/, but not: src/scripts/*, web/server/tanstackIntegration*.ts
  frontend: any of: web/, but not: src/scripts/*, web/server/tanstackIntegration*.ts
